h1 {
    color: #1f4e79;
    text-align:center;
    font-size: 50px;
    margin-top: 30px;
    text-transform: uppercase;
}
h2{
    color: #1f4e79;
    font-size: 30px;

}
    body{
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
p {
    font-size: 20px;
}
img{
    width: 200px;
    border-radius: 50%; 
}
section{
    margin: 20px;
}
nav{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
ol{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
footer{
    font-size: 15px;
}
header{
    text-align: center;
}